<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <p class="text-muted text-center mb-0">
                © @DateTime.Now.Year - Desenvolvido por Practice<img src="/assets/img/Logo-dark.png" width="50" height="50" alt="Logo" />
            </p>
        </div>
    </div>
</footer>
<!-- end Footer -->