<section class="py-5" id="testemunhos">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Testemunhos de Clientes</h2>
            <p class="lead mb-0 text-primary">Nossos Clientes amam trabalhar conosco!</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">Esse produto me ajudou a evoluir!</p>
                                <div class="small text-muted">- Pedro Lucas, Goiânia</div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">Esse produto me ajudou a evoluir!</p>
                                <div class="small text-muted">- Pedro Lucas, Goiânia</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>