<section class="py-5 bg-light-lighten border-top border-bottom border-light" id="empresas">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Empresas que já utilizam o Practice <img src="/assets/img/Logo-dark.png" alt="logo" class="logo-dark" height="50" /></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xxl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="assets/img/Logo-dark.png" class="rounded-circle avatar-md img-thumbnail" alt="friend">
                            <h4 class="mt-3 my-1">Martin Jordan <i class="mdi mdi-check-decagram text-success"></i></h4>
                            <p class="mb-0 text-muted"><i class="mdi mdi-email-outline me-1"></i>martindjordan@armyspy.com</p>
                            <hr class="bg-dark-lighten my-3">
                            <h5 class="mt-3 fw-semibold text-muted">Complate Total <b>12</b> Project</h5>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Message"><i class="mdi mdi-message-processing-outline"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Call"><i class="mdi mdi-phone"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Email"><i class="mdi mdi-email-outline"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="assets/img/Logo-dark.png" class="rounded-circle avatar-md img-thumbnail" alt="friend">
                            <h4 class="mt-3 my-1">Martin Jordan <i class="mdi mdi-check-decagram text-success"></i></h4>
                            <p class="mb-0 text-muted"><i class="mdi mdi-email-outline me-1"></i>martindjordan@armyspy.com</p>
                            <hr class="bg-dark-lighten my-3">
                            <h5 class="mt-3 fw-semibold text-muted">Complate Total <b>12</b> Project</h5>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Message"><i class="mdi mdi-message-processing-outline"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Call"><i class="mdi mdi-phone"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Email"><i class="mdi mdi-email-outline"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="assets/img/Logo-dark.png" class="rounded-circle avatar-md img-thumbnail" alt="friend">
                            <h4 class="mt-3 my-1">Martin Jordan <i class="mdi mdi-check-decagram text-success"></i></h4>
                            <p class="mb-0 text-muted"><i class="mdi mdi-email-outline me-1"></i>martindjordan@armyspy.com</p>
                            <hr class="bg-dark-lighten my-3">
                            <h5 class="mt-3 fw-semibold text-muted">Complate Total <b>12</b> Project</h5>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Message"><i class="mdi mdi-message-processing-outline"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Call"><i class="mdi mdi-phone"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Email"><i class="mdi mdi-email-outline"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="assets/img/Logo-dark.png" class="rounded-circle avatar-md img-thumbnail" alt="friend">
                            <h4 class="mt-3 my-1">Martin Jordan <i class="mdi mdi-check-decagram text-success"></i></h4>
                            <p class="mb-0 text-muted"><i class="mdi mdi-email-outline me-1"></i>martindjordan@armyspy.com</p>
                            <hr class="bg-dark-lighten my-3">
                            <h5 class="mt-3 fw-semibold text-muted">Complate Total <b>12</b> Project</h5>

                            <div class="row mt-3">
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Message"><i class="mdi mdi-message-processing-outline"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Call"><i class="mdi mdi-phone"></i></a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0);" class="btn w-100 btn-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Email"><i class="mdi mdi-email-outline"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>