<section class="py-5" id="beneficios">
    <h1 class="title text-center">Beneficios</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="text-center p-2 p-sm-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="ri-coins-fill text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">CUPOM DE DESCONTO ONLINE</h4>
                    <p class="text-muted mt-2 mb-0">
                        Crie cupons de desconto online e capte novos clientes, com promoções e parcerias utilizando as redes sociais.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="text-center p-2 p-sm-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="ri-line-chart-fill text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">RELATÓRIOS DE CAIXA</h4>
                    <p class="text-muted mt-2 mb-0">
                        O sistema gera relatórios sobre tudo o que aconteceu no caixa, todos os descontos, bonificações e pedidos.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="text-center p-2 p-sm-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="ri-menu-add-fill text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">MENU DIGITAL</h4>
                    <p class="text-muted mt-2 mb-0">
                        Crie seu próprio menu digital, com fotos, descrição e preço do produto.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="text-center p-2 p-sm-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="ri-team-fill text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">RANKING DE CLIENTES</h4>
                    <p class="text-muted mt-2 mb-0">
                        Saiba quem são os melhores clientes e o quanto consomem. 
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="text-center p-2 p-sm-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="ri-admin-fill text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">ÁREA ADMINISTRATIVA</h4>
                    <p class="text-muted mt-2 mb-0">
                        Você tem controle total dos recursos do sistema, utilizando configurações, realizando cadastros, visualizando relatórios e muito mais.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="text-center p-2 p-sm-3">
                    <div class="avatar-sm m-auto">
                        <span class="avatar-title bg-primary-lighten rounded-circle">
                            <i class="ri-qr-code-fill text-primary font-24"></i>
                        </span>
                    </div>
                    <h4 class="mt-3">QR CODE</h4>
                    <p class="text-muted mt-2 mb-0">
                       Acesso ao seu site por meio de um Qr Code, utilizando o celular, de forma rápida e prática.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
