<div id="danger-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="ri-close-circle-line h1"></i>
                    <h4 class="mt-2">Ah não!</h4>
                    <p class="mt-3">Você tem certeza que deseja excluir a loja?</p>
                    <button type="button" id="botaoExcluir" class="btn btn-light my-2" data-bs-dismiss="modal">Sim</button>
                </div>
            </div>
        </div>
    </div>
</div>