@model Dominio.ViewModels.LojaViewModel

@{
    TempData["Titulo"] = "Editar Loja";
    Layout = "_LayoutInicio";
}

<!-- Título da página -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Inicio">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="/Loja">Loja</a></li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
            <h4 class="page-title">Loja - Editar</h4>
        </div>
    </div>
</div>
<!-- Título da página -->

<form asp-action="Editar" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @await Html.PartialAsync("_VisualizarLoja")
                    <br />

                    <div class="row mb-3">
                        <div class="col-12 col-md-12 text-sm-end">
                            <button class="btn btn-success" type="submit">Editar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/assets/js/pages/Loja/Cadastrar.js"></script>
}