
@{
    Layout = null;
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success alerta-position alert-dismissible bg-success text-white border-0 fade show" role="alert">
        <i class="ri-check-line me-2"></i><button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>Sucesso - </strong> @TempData["Sucesso"]
    </div>
}

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger alerta-position alert-dismissible bg-danger text-white border-0 fade show" role="alert">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
        <i class="ri-close-circle-line me-2"></i>  <strong>Erro - </strong> @TempData["Erro"]
    </div>
}

@if (TempData["Aviso"] != null)
{
    <div class="alert alert-warning alerta-position alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <i class="ri-alert-line me-2"></i><strong>Aviso - </strong> @TempData["Aviso"]
    </div>
}

<div id="alertaErro">
</div>
<div id="alertaSucesso">
</div>
