@{
    TempData["Titulo"] = "Painel";
    Layout = "_LayoutInicio";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Inicio">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="">Menu Digital</a></li>
                    <li class="breadcrumb-item active">Página de Boas Vindas</li>
                </ol>
            </div>
            <h4 class="page-title">Página de Boas Vindas</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-9 col-lg-8">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <img src="/assets/img/WallpaperHome.jpg" alt="backgroud-image" height="120" />
                    <div class="text-center">
                        <img src="/assets/img/Logo-dark.png" alt="logo" class="rounded-circle img-logo" width="70" height="70" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>