<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="mt-md-4">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-light mb-2">Fidelização de Clientes e Menu Digital</h1>
                        <p class="lead-500 text-light mb-4">Aumente suas vendas, conquiste mais clientes e avance com seu negócio para o próximo nível!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-success btn-lg px-4 me-sm-3" href="/Login/Cadastrar">Iniciar Agora</a>
                        <a class="btn btn-light  btn-lg px-4" href="#beneficios">Ler Mais</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-2">
                <div class="text-md-end mt-3 mt-md-0">
                    <img src="/assets/img/Login.svg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>