<nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
    <div class="container">

        <!-- logo -->
        <a href="/Home" class="navbar-brand me-lg-5">
            Practice <img src="/assets/img/Logo-light.png" alt="logo" class="logo-dark" height="50" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item mx-lg-1">
                    <a class="nav-link active" href="/Home">Home</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" href="#beneficios">Beneficios</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" href="#testemunhos">Testemunhos</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" href="#empresas">Clientes</a>
                </li>
                <li class="nav-item mx-lg-1">
                    <a class="nav-link" href="#preco">Preços</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item me-0">
                    <a href="/Login" class="nav-link d-lg-none">Login</a>
                    <a href="/Login" class="btn btn-sm btn-light rounded-pill d-none d-lg-inline-flex">
                        <i class="ri-login-box-line"></i> &nbsp; Login
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>